html,
body { width: 100%; height: 100%; padding: 0; margin: 0; color: black; font-size: 18px; line-height: 1.2; font-family: Consolas, 'Courier New', monospace; background: black; }

* { box-sizing: border-box; }

h1 { margin: 0; color: #ffd700; font-size: 22px; line-height: 1.2; }
h2 { margin: 0 0 16px 0; font-size: 20px; line-height: 1.2; }
p { margin: 0 0 16px 0; }

button { padding: 4px 8px; border: 1px solid black; margin-bottom: 16px; color: black; background: transparent; transition: color 0.4s linear, border 0.4s linear, background 0.4s linear; }
button:hover,
button:focus { border-color: #ffd700; color: #ffd700; background: black; cursor: pointer; }
button.red { border-color: red; color: red; }
button.red:hover,
button.red:focus { border-color: black; color: black; background: red; }
button:focus { outline: none; }

form label { display: inline-block; width: 100%; margin-bottom: 4px; }
form input { min-width: 230px; padding: 4px 8px; border: 1px solid black; background: transparent; transition: color 0.4s linear, border 0.4s linear, background 0.4s linear; }
form input:hover,
form input:focus { border-color: #ffd700; background: white; }
form textarea { display: inline-block; width: 100% !important; min-height: 100px; padding: 4px 8px; border: 1px solid black; margin-bottom: 16px; background: transparent; transition: color 0.4s linear, border 0.4s linear, background 0.4s linear; }
form textarea:hover,
form textarea:focus { border-color: #ffd700; background: white; }

.container { display: flex; flex-direction: column; align-items: center; justify-content: center; width: 1080px; max-width: 100%; height: 100%; margin: 0 auto; }
.panel { width: 100%; padding: 16px 16px 0 16px; border: 1px solid #ffd700; border-radius: 8px; margin-bottom: 16px; background: #DDDDDD; }
.panel:last-child { margin-bottom: 0; }

.titlebar { display: flex; align-items: center; padding-bottom: 16px; background: black; }
.titlebar .logo { display: inline-block; width: auto; height: 22px; margin-right: 8px; }

.template { display: none; }

#page-settings-panel { display: none; }

.CodeMirror { margin-bottom: 16px; }
